.color__form {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
  width: 280px;
}
.colorForm__button {
  width: 150px;
  margin: 10px 0px;
}
.Input__wrapper{
  justify-content: space-between;
  width: 280px;
    display: flex;
    gap: 0.5rem;
}
.Input__wrapper .input {
  width: 100%;
}